<mat-sidenav-container>
    <div id="app-main-content">
        <div id="wrapper">
            <div class="content-wrapper">
                <ng-container *ngIf="settings.layout.toolbar === 'below'">
                    <app-toolbar class="below" [ngClass]="settings.colorClasses.toolbar"></app-toolbar>
                </ng-container>
                <app-content></app-content>
                <ng-container *ngIf="settings.layout.footer === 'below'">
                    <app-footer class="below" [ngClass]="settings.colorClasses.footer"></app-footer>
                </ng-container>
            </div>
        </div>
        <div class="float-action" [ngClass]="{'expanded': exp.expanded, 'not-expanded': !exp.expanded}" fxLayoutAlign="space-between end">
            <mat-expansion-panel #exp="matExpansionPanel">
                <mat-expansion-panel-header [expandedHeight]="'48px'">
                    <mat-panel-title>
                        Nhắn tin cho nhân viên tư vấn
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="chat-panel" fxLayout="column">
                    <div #chatView style="width: 100%; height: 296px;" PerfectScrollbar>
                        <div *ngFor="let message of messageList">
                            <div *ngIf="message.source !== 'me'" class="message-container" fxLayoutAlign="start start">
                                <div class="agent-icon">
                                    <mat-icon>person</mat-icon>
                                </div>
                                <div class="content">{{message.content}}</div>
                            </div>
                            <div *ngIf="message.source === 'me'"class="message-container" fxLayoutAlign="end start">
                                <div class="my-content">{{message.content}}</div>
                            </div>
                        </div>
                    </div>
                    <div style="height: 46px; width: 100%" fxLayoutAlign="space-between center">
                        <mat-form-field fxFlex appearance="outline" floatLabel="never">
                            <input (keydown.enter)="sendMessage()" [formControl]="text" matInput placeholder="Nhắn tin tới nhân viên">
                        </mat-form-field>
                        <button mat-icon-button color="primary" (click)="sendMessage()">
                            <mat-icon [ngStyle]="{'color': text.value ? '#ff732d' : 'black'}">send</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-expansion-panel>
            <button mat-fab color="accent" (click)="openCallDialog()"><mat-icon>headset_mic</mat-icon></button>
        </div>
    </div>
</mat-sidenav-container>