<mat-sidenav-container>
    <div id="app-main-content">
        <div id="wrapper">
            <div class="content-wrapper">
              <ng-container *ngIf="settings.layout.toolbar === 'below'">
                <app-toolbar class="below" [ngClass]="settings.colorClasses.toolbar"></app-toolbar>
                </ng-container>
                <app-content></app-content>
              <ng-container *ngIf="settings.layout.footer === 'below'">
                <app-footer class="below" [ngClass]="settings.colorClasses.footer"></app-footer>
                </ng-container>
            </div>
        </div>
        <button class="contact-button" mat-fab color="accent" (click)="openCallDialog()"><mat-icon>headset_mic</mat-icon></button>
    </div>
</mat-sidenav-container>

