<div class="contain-home" PerfectScrollbar>
  <div class="banner" fxLayout="column" fxLayoutAlign="center center">
      <h1>{{slogan.get(formSelected)}}</h1>
      <div fxLayout="row" fxLayoutAlign="center center">
          <button class="form-btn" mat-stroked-button (click)="changeOption(0)" [ngClass]="{'active': formSelected === 0}">Mua</button>
          <button class="form-btn" mat-stroked-button (click)="changeOption(1)" [ngClass]="{'active': formSelected === 1}">Thuê</button>
      </div>
      <mat-form-field appearance="fill">
          <mat-icon class="location-icon" matPrefix>location_on</mat-icon>
          <mat-label>Chọn khu vực bạn muốn tìm</mat-label>
          <mat-select placeholder="Chọn khu vực bạn muốn tìm" [formControl]="areaSelected">
            <mat-option *ngFor="let location of districts" [value]="location.id">{{location.name}}</mat-option>
          </mat-select>
      </mat-form-field>
  </div>
  <app-carousel [title]="'Có thể bạn quan tâm'" [dataSource]="newProperties"></app-carousel>
  <app-carousel [title]="'Mới'" [dataSource]="newProperties"></app-carousel>
  <app-carousel [title]="'Nội thành'" [dataSource]="uptownProperties"></app-carousel>
  <app-carousel [title]="'Ngoại thành'" [dataSource]="newProperties"></app-carousel>
</div>