:host ::ng-deep {
    .banner {
    background-image: url('../../../assets/img/garden.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    }
    .contain-home {
        width: 100%;
        height: 100%;
    }
    .form-btn {
        border-radius: 0px;
        background-color: white;
        border-color: white
    }
    .active {
        color: white;
        background-color: #00c12ae8;
    }
    .mat-form-field {
        width: 350px
    }
    .location-icon {
        margin-right: 8px;
        color: #009234;
    }
    .mat-form-field.mat-focused .mat-form-field-ripple {
        background-color: #00c12ae8
    }
    .mat-form-field-appearance-fill .mat-form-field-flex {
        background-color: white;
    }
    h1 {
        color: white;
        font-weight: 500;
        font-size: 34px;
    }
}