::ng-deep #map-container {
    height: 100%;
    width: 100%;
    display: block;
    margin: 0 16px;
}
::ng-deep .state-tooltip {
    height: 90px;
    width: 50px;
    background-color: white
}

::ng-deep .state-tooltip > h4 {
    line-height: 40px;
    font-size: 14px;
    margin-bottom: 5px;
}
agm-map {
  height: 600px;
}
:host ::ng-deep {
  .contain-home {
    width: 100%;
  }
  .price-tooltip {
    font-weight: 500;
    font-size: 16px;
    margin-left: 4px;
  }
  mat-form-field {
    min-width: 200px;
    margin: 8px;
  }
  .inditor {
    height: 21px;
    width: 21px;
    min-width: 21px;
    min-height: 21px;
    font-size: 21px;
    line-height: 21px;
    margin-left: 4px;
  }
  .not-value {
    margin-left: 4px;
  }
  .down {
    color: red;
  }
  .up {
    color: green;
  }
  .idle {
    color: blue;
  }
  agm-map {
    height: 100%;
  }
  .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0em 0;
  }
  .mat-form-field-infix {
    border-top: 0em solid transparent;
  }
  .mat-form-field-wrapper {
    padding-bottom: 0em;
    font-size: 14px;
  }
  mat-expansion-panel-header {
    height: 70px !important;
  }
  .mat-content {
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex: 1;
    height: 70px;
    flex-direction: row;
    overflow: hidden;
  }
  mat-form-field {
    margin-right: 16px
  }
  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 1em 0 .6em 1em;
  }
  .selection-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    mat-slider {
      margin-right: 2px;
      margin-left: 2px;
    }
  }
  mat-icon {
    color: gray
  }
}
