<div class="contain-home" PerfectScrollbar>
    <app-filter-bar></app-filter-bar>
    <div fxLayout="row" fxLayoutAlign="start start">
        <div fxFlex="65">
            <mat-paginator [length]="totalOfItems" [pageSize]="pageSize" (page)="onPaginateChange($event)">
            </mat-paginator>
            <div *ngIf="totalOfItems > 0;else noResult" fxLayout="row wrap" fxLayoutAlign="space-between center">
                <app-property-card [data]="item" *ngFor="let item of data" fxFlex="33" style="margin-bottom: 4px;"></app-property-card>
            </div>
            <ng-template #noResult>
                <div class="empty" fxLayout="column" fxLayoutAlign="center center">
                    <h2>Result not found</h2>
                    <a [routerLink]="['/home']">Back to Home</a>
                </div>
            </ng-template>
            <mat-paginator [length]="totalOfItems" [pageSize]="pageSize" (page)="onPaginateChange($event)">
            </mat-paginator>
        </div>
        <div fxFlex="35">
            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="true">
                <agm-marker *ngFor="let item of markList" (markerClick)="clickedMarker(item.id)" [latitude]="item.lat" [longitude]="item.lng">
                </agm-marker>
            </agm-map>
        </div>
    </div>
</div>