<div class="contain" PerfectScrollbar>
    <app-filter-bar></app-filter-bar>
    <div *ngIf="data">
        <div class="main-info" fxLayout="row">
            <div fxFlex="45">
                <img src={{data.cover}} style='height: 100%; width: 100%; object-fit: fix'>
            </div>
            <div fxFlex="55" style="margin-left: 16px;margin-right: 16px">
                <h1>{{data.title}}</h1>
                <div fxLayout="row">
                    <h2>{{data.form === 0 ? 'Bán: ' : 'Cho thuê: '}}</h2>
                    <h2 style="font-weight: 600; padding-left: 8px">{{data.price | money}}</h2>
                </div>
                <div class="address">{{data.address.no}} {{data.address.street}},
                    <span>{{data.address.ward.name}}</span>,
                    <span>{{data.address.district.name}}</span>,
                    <span>{{data.address.city.name}}</span>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div>
                        <div class="info-item" fxLayout="row" fxLayoutAlign="start end">
                            <mat-icon class="info-icon">details</mat-icon>
                            <div class="info-text">Diện tích: {{data.area}} m²</div>
                        </div>
                        <div class="info-item" fxLayout="row" fxLayoutAlign="start end">
                            <mat-icon class="info-icon">description</mat-icon>
                            <div class="info-text">Sổ: {{data.license === 0 ? 'Sổ đỏ' : 'Sổ hồng'}}</div>
                        </div>
                        <div class="info-item" fxLayout="row" fxLayoutAlign="start end">
                            <mat-icon class="info-icon">home</mat-icon>
                            <div class="info-text">{{getType(data.type, data.form)}}</div>
                        </div>
                    </div>
                    <div>
                        <div class="info-item" fxLayout="row" fxLayoutAlign="start end">
                            <mat-icon class="info-icon">swap_vert</mat-icon>
                            <div class="info-text">Chiều Dài: {{data.height}} m</div>
                        </div>
                        <div class="info-item" fxLayout="row" fxLayoutAlign="start end">
                            <mat-icon class="info-icon">directions</mat-icon>
                            <div class="info-text">Hướng: {{data.direction | direction}}</div>
                        </div>
                        <div class="info-item" fxLayout="row" fxLayoutAlign="start end">
                            <mat-icon class="info-icon">hot_tub</mat-icon>
                            <div class="info-text">Số phòng tắm: {{data.numofbathroom}}</div>
                        </div>
                    </div>
                    <div>
                        <div class="info-item" fxLayout="row" fxLayoutAlign="start end">
                            <mat-icon class="info-icon">swap_horiz</mat-icon>
                            <div class="info-text">Chiều Rộng: {{data.width}} m</div>
                        </div>
                        <div class="info-item" fxLayout="row" fxLayoutAlign="start end">
                            <mat-icon class="info-icon">clear_all</mat-icon>
                            <div class="info-text">Tầng: {{data.numoffloor === 0 ? 'Chỉ tầng trệt' : data.numoffloor +' lầu'}}</div>
                        </div>
                        <div class="info-item" fxLayout="row" fxLayoutAlign="start end">
                            <mat-icon class="info-icon">local_hotel</mat-icon>
                            <div class="info-text">Số phòng ngủ: {{data.numofbedroom}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
            <div class="details-container" fxFlex="70">
                <h3 style="font-weight: 600">MÔ TẢ:</h3>
                <p>{{data.description}}</p>
                <h3 style="font-weight: 600">VỊ TRÍ:</h3>
                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="true">
                    <agm-marker [latitude]="lat" [longitude]="lng">
                    </agm-marker>
                </agm-map>
            </div>
            <div class="require-form" fxFlex="30">
                <mat-card>
                    <div class="title-card">Yêu Cầu Thông Tin</div>
                    <div class="form-list">
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Họ tên">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Số điện thoại">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Email">
                        </mat-form-field>
                        <div style="color: rgb(0, 132, 255); margin-bottom: 8px">Tôi muốn:</div>
                        <mat-checkbox>Được tư vấn</mat-checkbox>
                        <br/>
                        <mat-checkbox>Đặt lịch xem</mat-checkbox>
                        <br/>
                        <button style="width: 100%; margin-top: 16px; height: 43px;" mat-raised-button color="warn">Gửi Yêu
                            Cầu
                        </button>
                        <div fxLayout="row" fxLayoutAlign="center center">

                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>